@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.font-poppins {
  font-family: "Poppins";
}

.font-roboto {
  font-family: "Roboto";
}

.font-inter {
  font-family: "Inter";
}

body {
  font-family: "Roboto";
}

.topbar-container {
  height: 49px;
}

.topbar-cta-btn {
  color: #464e5b;
  font-family: Roboto;
  font-size: 9px;
  font-weight: 400;
  line-height: 9px; /* 100% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 104.325px;
  height: 21px;
  flex-shrink: 0;
}

.topbar-btn {
  color: #000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 150% */
  border-radius: 3px;
  background: #ffc700;
}

.topbar-txt {
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  border-radius: 3px;
}

.topbar-message {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 160% */
}

.header-title {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.507px; /* 169.483% */
  letter-spacing: 3.072px;
}

.search {
  background-color: #f4f4f4;
}

.search:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.card {
  border-radius: 7px 7px 3px 3px;
  background: #fff;
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}
